{% extends 'base.html.twig' %}

{% block title %}Admin - Create new category{% endblock %}

{% block body %}
<div class="container">
    <div class="p-4 my-4 bg-white shadow rounded">
        <h1>Create new category</h1>
        {{ form(form) }}
    </div>
</div>
{% endblock %}
