{% extends 'base.html.twig' %}

{% block title %}Account - {{ app_name }}{% endblock %}


{% block body %}
<div class="container">
    <div class="p-4 my-4 bg-white shadow rounded">
        <h1 class="text-center">Account</h1>

        {{ form(form) }}
    </div>
</div>
{% endblock %}