{% extends 'base.html.twig' %}

{% block title 'CryptoStore - Account' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Account</h1>

        {{ form(form) }}
    </div>
{% endblock %}