{% extends 'base.html.twig' %}

{% block title %}Contact - {{ app_name }}{% endblock %}

{% block body %}
<div class="container">
    <div class="p-4 my-4 bg-white shadow rounded">
        <h1>Contact</h1>
        <p>Feel free to contact us.</p>

        {{ form(form) }}
    </div>
</div>
{% endblock %}
