{% extends 'base.html.twig' %}

{% block title %}Contact - {{ app_name }}{% endblock %}

{% block body %}
    <h1>Contact</h1>
    <p>Feel free to contact us.</p>

    {{ form(form) }}
{% endblock %}
