# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    app_domain: '%env(APP_DOMAIN)%'
    app_name: '%env(APP_NAME)%'
    app_description: '%env(APP_DESCRIPTION)%'
    app_version: '%env(APP_VERSION)%'
    app_support_email: '%env(APP_SUPPORT_EMAIL)%'
    app_admin_email: '%env(APP_ADMIN_EMAIL)%'
    app_admin_username: '%env(APP_ADMIN_USERNAME)%'
    app_admin_password: '%env(APP_ADMIN_PASSWORD)%'
    app_admin_per_page: '%env(APP_ADMIN_PER_PAGE)%'
    app_per_page: '%env(APP_PER_PAGE)%'
    app_currency: '%env(APP_CURRENCY)%'
    app_currency_symbol: '%env(APP_CURRENCY_SYMBOL)%'
    # Do not include the project directory in the path
    app_uploads_dir: '%env(APP_UPLOADS_DIR)%'
    app_image_sizes:
        - [300, 300]
        - [500, 500]
        - [1000, 1000]
    stripe_mode: '%env(STRIPE_MODE)%'
    stripe_secret_key: '%env(STRIPE_SECRET_KEY)%'
    stripe_public_key: '%env(STRIPE_PUBLIC_KEY)%'
    stripe_webhook_secret: '%env(STRIPE_WEBHOOKS_KEY)%'
    fraudlabspro_api_key: '%env(FRAUDLABSPRO_API_KEY)%'

imports:
    - { resource: 'disallowed_slugs.yaml' }

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
